---
---

@import "{{ site.theme }}";

body {
    font:20px/38px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#2b2b2b;
    font-weight:300;
    margin: 0px;
    padding:0px 0 20px 0px;
    background: url(../images/body-background.png) #eae6d1;
}

header {
    padding: 25px 20px 40px 20px;
    margin: 0;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    text-align: center;
    background: url(../images/background.png) #ffcc00;
    border: 1px solid #f0b500;
    border-radius: 0px 2px 2px 0px;
    box-shadow: 0px 1px 3px rgba(0,0,0,.25);
    z-index:99;
    -webkit-font-smoothing:antialiased;
    min-height: 50px;

}

nav {
    width: 230px;
    position: fixed;
    top: 220px;
    left: 50%;
    margin-left: -700px;
    text-align: right;
}
.wrapper {
    width: 800px;
}

