<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  {% include analytics.html %}
  {% include leancloud-visitors-view.html %}

  <body>
    <header>
      <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% include search.html %}
    </header>

    <div class="wrapper">
      <section>
        {{ content }}
      </section>

      <footer>
        <p>Powered by <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a></p>
      </footer>
    </div>

  </body>
</html>