<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    {% include analytics.html %}

  <body>
      <header>
        <h1><a href="{{ site.baseurl }}" style="color: inherit;">{{ site.title | default: site.github.repository_name }}</a></h1>
      </header>

    <div class="wrapper">
      <nav>
        <h3>{{ page.title }}</h3>
        <ul></ul>

        <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
          <em class="post-meta-item-text" style="font-size:16px; font-style:normal;">阅读量：</em>
          <i class="leancloud-visitors-count">Loading...</i>
        </span>
      </nav>
      <section>
        {{ content }}
      </section>

      <footer>
        <p>Powered by <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a></p>
      </footer>

      {% include valine.html %}
    </div>

  </body>
</html>