<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    {% include analytics.html %}

  <body>
      <header>
        <h1><a href="{{ site.url }}" style="color: inherit;">{{ page.title | default: site.title | default: site.github.repository_name }}</a></h1>
      </header>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>

      {% include valine.html %}

      <footer>
        <p>Powered by <a href="{{ site.github.owner_url }}" target="_blank">{{ site.github.owner_name }}</a></p>
      </footer>
    </div>

  </body>
</html>